ion-icon {
    font-size: 1.25rem;
}

.track-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    font-size: 10px;
}

.track-container:hover {
    background-color: black;
    color: white;
}

.album-img {
    width: 55px;
    height: 55px;
}

.text-and-image-container {
    display: flex;
    gap: 10px;
    align-items: center;
}