@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

* {
  box-sizing: border-box;
}

a {
  color: black;
}

/* APP PAGE */

.header-title {
  text-align: center;
}

.search-bar {
  width: 600px;
  margin: 0 auto;
}

.container {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.scrollable {
  overflow: auto;
}

.scrollable::-webkit-scrollbar {
  width: 3px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}

.scrollable::-webkit-scrollbar-track {
  background-color: seashell;
  border-radius: 5px;
}

.blurred-bkg {
  backdrop-filter: blur(7px);
}

.result-header {
  font-weight: 800;
  text-align: center;
  margin-bottom: 15px;
}

.result-tracks {
  width: 350px;
  height: 350px;
  overflow: auto;
}

.playlist-tracks {
  margin-top: 20px;

  width: 350px;
  height: 225px;
  overflow: auto;
}

.App {
  font-family: "Radio Canada", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

#header-title {
  margin-top: 25px;
  font-size: 2.5rem;
  text-align: center;
}

.user-name-msg {
  text-align: center;
  font-family: "Radio Canada", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 20px;
}

.user-name {
  color: #fcf1bc;
  background-color: #373334;

  padding: 10px;
  border-radius: 10px;

  font-style: italic;
}

.artist-album-name {
  margin-top: 7px;
}

.song-title {
  all: unset;
  font-weight: 600;
  font-size: 0.75rem;
}

.song-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* LOGIN PAGE */

.login-icon {
  font-size: 2rem;
}

.login-page-container {
  background-image: url('https://images.unsplash.com/photo-1494232410401-ad00d5433cfa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  /* background-position: center; */
  background-position: left 5% bottom 50%;
  background-size: 150%;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.author-name {
  font-family: "Radio Canada", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
}

.nav-container {
  position: fixed;
  z-index: 1;

  width: 100%;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 20px;
  
}

.nav-section ul {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 30px;

  list-style: none;
}

.app-name-header {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;

  margin: 0;
}

.login-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content-container {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;

  width: auto;
  margin-left: 130px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}

.sign-in-btn {
  background-color: black;
  padding: 15px;
  border-radius: 25px;
  width: auto;

  font-size: 1rem;

  color: white;
}

.sign-in-btn:hover {
  background-color: white;
  color: black;

  cursor: pointer;
}

.app-name {
  font-size: 4rem;
}

.app-description {
  font-family: "Radio Canada", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.accent-text {
  color: #fbefbb;
}
