.header-title {
  text-align: center;
}

.search-bar {
  width: 300px;
  margin: 0 auto;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.result-tracks {
  width: 350px;
}

.playlist-tracks {
  width: 350px;
}

.user-name {
  text-align: center;
}
